
.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    background-color: #f5f5f5;
}
/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;
}

.btn-1 {
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.nav-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

nav ul li {
    list-style: none;
    font-size: 20px;
}

/* banner styles */
.banner-greetings {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
}

.banner-profile-pic {
    width: 474px;
    height: 400px;
}

.banner {
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 20px 160px;
    height: 450px;
    justify-content: space-between;
    padding: 60px;
    /* display: flex; */
    gap: 64px;
}

/* main section styles */
.section-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.pillars {
    margin: 80px 160px;
}

/* card related styles */
.cards{
    display: flex;
    gap: 24px;
    margin: 32px 160px;
}
.card-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.item-card{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
}
.vision{
    margin: 80px 160px;
}
.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.vision-card-1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}
.vision-card-2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
}
.vision-card-3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
}
.vision-cards{
    display: flex;
    gap: 24px;
    margin: 32px 160px;
}
.vision-card-btn-1{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
}
.vision-card-btn-2{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    border: none;
}
.vision-card-btn-3{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    border: none;
}

/* speech section */
.speech{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
padding: 48px 24px 48px 24px;
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
padding: 48px 24px;
background-position: 1.6% 16%;
margin: 32px 160px;
}

/* table section */

.table-section{
    padding: 32px;
    margin: 160px;
}
.main-table{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Fira Sans', sans-serif;
  }
  th, td {
    padding: 15px 24px;
    text-align: left;
    border: 1px solid rgba(14, 14, 14, 0.15);
  }
  thead{
    background-color: rgb(198, 228, 214);
  }
  .btn-opinion{
    padding: 10px 20px;
    background-color: rgb(198, 228, 214);
    border: 1px solid rgb(14, 14, 14);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .opinion-btn span {
    margin-left: 5px;
  }

/* news related styles */
.news-section{
    margin: 160px;
    
    padding: 24px;
}

.img-card{
    border-radius: 24px;
}
.SingleCard{
    display: flex;
    gap: 24px;
    border-radius: 24px;
    margin: 24px 0px;
    align-items: center;
    background-color: white;
    padding: 48px;

}

.card-heading{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}
/* donate section */
.donate-section{
    text-align: center;
    margin: 160px;
}
.btn-container{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.btn-container:hover{
    background: rgb(198, 228, 214)
}
.other-amount{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15)!important;
    background: rgb(255, 255, 255);
    padding: 20px 40px 20px 40px;
    width: 1032px;
    height: 64px;
    margin: 32px 0px;
    border: none;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.last{
    text-align: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    margin: 160px;
}
.email-section{
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 18px 40px 18px 40px;
    border: none;
}
.sub-btn{
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    border: none;
}
.social-site{
    display: flex;
    padding: 50px 160px 50px 160px;
    gap: 32px;
    justify-content: center;
    
}
.end-section{
    text-align: center;
}