
.fira-sans-normal {
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;
}

.btn-1 {
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.nav-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

nav ul li {
    list-style: none;
    font-size: 20px;
}

/* banner styles */
.banner-greetings {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
}

.banner-profile-pic {
    width: 474px;
    height: 400px;
}

.banner {
    display: flex;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 20px 160px;
    height: 450px;
    justify-content: space-between;
    padding: 60px;
    /* display: flex; */
    gap: 64px;
}

/* main section styles */
.section-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.pillars {
    margin: 80px 160px;
}

/* card related styles */
.cards{
    display: flex;
    gap: 24px;
    margin: 32px 160px;
}
.card-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.item-card{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
}
.vision{
    margin: 80px 160px;
}
.vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.vision-card-1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}
.vision-card-2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
}
.vision-card-3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 32px;
}
.vision-cards{
    display: flex;
    gap: 24px;
    margin: 32px 160px;
}
.vision-card-btn-1{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    border: none;
}
.vision-card-btn-2{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    border: none;
}
.vision-card-btn-3{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    border: none;
}

/* speech section */
.speech{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
padding: 48px 24px 48px 24px;
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
padding: 48px 24px;
background-position: 1.6% 16%;
margin: 32px 160px;
}
/* news related styles */
.news-section{
    margin: 160px;
}